{% Load static %}
<!-- Main Content -->
<main class="main-content">

	<!-- Masthead -->
	<div class="masthead">

		<div class="logo">
			<h1>LastPass<i class="fas fa-ellipsis-h logo-icon" aria-hidden="true"></i></h1>
		</div>

		<div class="vault-search">
			<form>
				<input type="search" class="search-input" placeholder="search my vault" aria-label="search vault">
				<i class="fas fa-search search-icon" aria-hidden="true"></i>
			</form>
		</div>

		<div class="user-settings" tabindex="0" aria-label="User Settings">
			<div class="user-image">
				<i class="fas fa-user-circle" aria-hidden="true"></i>
			</div>
			<ul class="user-info">
            <li class="user-email">email@example.com</li>
            </ul>